// Heading Color
$heading-color: #ffffff;

// Text Color
$text-color: #cccccc;

// Default Background
$bg-default: #000000;

// Gray Background
$bg-gray: #333333;

// Primary Color
$pri-color: #E50914;

// White Color
$ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: #b20710;

// Footer Color
$footer-color: #000000;

// Secondary Color
$secondary-color: #cccccc;